<!-- index.hbs uses apifetch.js & registration.hbs uses validation.js, all files need to link to css, title -->
<!-- active status on current page -->
{{log this}}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> {{this.title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://kit.fontawesome.com/cbf60cc09c.js" crossorigin="anonymous"></script> <!-- icons test-->
    <script defer src="../public/js/apifetch.js"></script>
    <script defer src="../public/js/validation.js"></script>
    <div id="nav-wrapper">
        <nav class="grid-container container">
            <div class="row">

                <div class="grid-content col">
                    <h1 class="icons"> <i class="fa-solid fa-plane"></i> Flight</h1>
                </div>

                {{!-- {{log this}}

                {{#if  }}
                <h1>{{firstName}} {{lastName}}</h1>
                {{/if}} --}}

                {{!-- {{
                    DetectPage currentPage 
                }} --}}

                {{#ifEquals cPage 1}}
                <h1> testing text</h1>
                    <script>
                        var home = document.getElementById('home');
                        home.classList.add("active"); 
                    </script>
                {{/ifEquals}}
                <div class="grid-content col">
                    <a id="home" href="/">Home</a>
                </div>

                <div class="grid-content col"> 
                    <a href="/login">Login</a>
                </div>

                <div class="grid-content col">
                    <a href="/registration">Register Account</a>
                </div>

                <div class="grid-content col">
                    <a href="/postvideo">Post A Video</a>
                </div>

                <div class="grid-content col">
                    <a href="/viewpost">View Posts</a>
                </div>
            </div>
        </nav>
    </div>
</head>