<!DOCTYPE html>
{{>header}} <!-- points to header.hbs handlebars partial -->

<body>
    {{#if (isNotEmpty this.messages)}}
    {{> flashmessage this}}
    {{/if}}


    {{#if results}}

    <div class="div align-left div-hover">
        <h3>Search results for <a class="green" href="">{{searchValue}}</a>:</h3>
    </div>

    <div class="container text-center">
        <div class="row">




            {{#each results}}
            {{!-- <a href="/viewpost/{{id}}">
                <div class="div-box div-active">
                    <img src="/{{thumbnail}}" alt="">
                    <p>{{title}}</p>
                    <button class="btn btn-success">View Post</button>
                </div>
            </a> --}}

            <div class="col-md-auto">

                <div class="card div-box  div-hover" style="width: 18rem;">
                    <img class="padding" src="/{{thumbnail}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{title}}</h3>
                        <p class="card-text small-text">{{description}}</p>
                        <a href="/viewpost/{{id}}" class="btn btn-primary">View Post</a>
                    </div>
                </div>

            </div>

            {{/each}}

        </div>
    </div>


    {{else}}


    <div class="div container div-active">
        <div class="row">
            <div class="col">
                <h3> Welcome To Flight!</h3>

                <p>Flight is a simple video sharing & streaming site that's ad-free and user-friendly!
                    Create an account today and start watching videos and uploading your own!</p>

                {{#if isLoggedIn}}

                <a class="btn btn-success" href="/postvideo" role="button">Post A Video!</a>

                {{else}}

                <a class="btn btn-success" href="/registration" role="button">Create An Account Today!</a>
                <p id="small">or login <a href="/login">here</a></p>

                {{/if}}


            </div>

            <div class="col">
                {{!-- <img class="img-responsive" src="../public/media/city1.gif" alt="picture of a city gif"> --}}
                <video id="video" controls="controls">
                    <source src="../public/media/SPRAY AND PRAY.mp4" type="video/mp4" alt="bad valorant clip" />
                </video>
            </div>
        </div>
    </div>

    {{/if}}


    {{!--


    {{!-- <div class="flex-container">
        <h3>Videos Uploaded To Site: &ThinSpace;<h3 id="site-videos"> </h3>
        </h3>
    </div> --}}

    {{!-- <div id="video-gallery" class="flex-container">
        <!-- divs created thru for loop in JS-->
    </div> --}}


    <div class="div">
        <footer>
            <p>CSC 317 Web Dev Project</p>
            <p>© Ethan Zheng 2023</p>
            <p>All rights reserved.</p>
        </footer>
    </div>
</body>

</html>